@import './../../scss/vars';
@import './../../scss/functions';

.discount {
    padding: 110px 64px;

    @media (max-width: 980px) {
        padding: 64px 32px;
    }

    @media (max-width: 540px) {
        padding: 30px 20px;
    }

    &__conteiner {
        max-width: $max-width;
        margin: 0 auto;
    }

    &__title {
        white-space: pre-wrap;
        text-align: center;
        font-weight: 700;
        @include fluidProperty('font-size', 18, 48, 320, 1440);
        color: #FFFFFF;
        margin-bottom: 85px;

        &_orange {
            color: #FCB500;
        }
    }
}