@import './../../scss/functions';

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        white-space: pre-wrap;
        text-align: center;
        font-weight: 400;
        margin-top: 45px;
        @include fluidProperty('font-size', 16, 36, 320, 1440);
        color: #FFFFFF;

        &_orange {
            @include fluidProperty('font-size', 14, 24, 320, 1440);
            color: #FCB500;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        column-gap: 32px;
        margin-bottom: 59px;

        &_old {
            position: relative;
            font-weight: 400;
            @include fluidProperty('font-size', 16, 36, 320, 1440);
            color: #ADADAD;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: calc(100% + 20px);
                background: #ADADAD;
                top: 50%;
                left: -10px;
            }
        }

        &_new {
            font-weight: 400;
            @include fluidProperty('font-size', 18, 48, 320, 1440);
            color: #fff;
        }
    }

    &__image {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    &__button {
        margin-top: 64px;
        text-align: center;

        button {
            min-width: 256px;
        }
    }
}