@import './../../scss/vars';
@import './../../scss/functions';

.header {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
    height: 100%;
    @include fluidProperty('padding', 25, 96, 320, 1440);
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__wrapper {
        width: 100%;
        height: 60.5vw;
        position: relative;
        min-height: 380px;
        max-height: 792px;
        background: #FCDA28 url("../../assets/bg.png") no-repeat center center;
        background-size: cover;
    }

    &__goods {
        position: absolute;
        right: 0;
        bottom: -15%;
        height: 115%;
        width: auto;

        @media (max-width: 800px) {
            bottom: -10%;
            height: 90%;
        }
        @media (max-width: 540px) {
            max-height: 60%;
        }
        @media (max-width: 400px) {
            display: none;
        }
    }

    &__slogan {
        flex: 1;

        h1 {
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 700;
            @include fluidProperty('font-size', 32, 144, 320, 1440);
        }

        p {
            white-space: pre-wrap;
            margin-top: 24px;
            font-weight: 400;
            @include fluidProperty('font-size', 16, 24, 320, 1440);
        }
    }

    &__motto {
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            @include fluidProperty('font-size', 18, 36, 320, 1440);
        }

        p {
            white-space: pre-wrap;
            margin-top: 16px;
            font-weight: 400;
            @include fluidProperty('font-size', 14, 18, 320, 1440);
        }
    }

}