@import './../../scss/functions';

.logo {
    width: 120px;
    height: 35px;
    vertical-align: middle;

    &__wrapper {
        @include fluidProperty('margin-right', 25, 100, 1300, 1440);
    }
}