@import './../../scss/vars';

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #111111;
    padding: 23px 80px 23px 64px;

    &__content {
        max-width: $max-width;
        margin: auto;
        display: flex;
        align-items: center;
    }
}