@use "sass:math";

@function calcFluidValue($f-min, $f-max, $v-min, $v-max) {
    $k: math.div(($f-max - $f-min), ($v-max - $v-min));
    $b: $f-min - $k * $v-min;

    $b: $b * 1px;

    @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidProperty($property, $f-min, $f-max, $w-min, $w-max) {
    #{$property}: calcFluidValue($f-min, $f-max, $w-min, $w-max);

    @media (max-width: $w-min * 1px) {
        #{$property}: $f-min * 1px;
    }

    @media (min-width: $w-max * 1px) {
        #{$property}: $f-max * 1px;
    }
}